#helpMessage {
    -fx-text-fill: white;
}

#helpMessageContainer {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-padding: 16px;
}

#hyperlink {
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-text-fill: #4fc2ff;
    -fx-underline: true;
}
