.root {
    -fx-background-color: #f3ddd3;
    -fx-border-color: #efcdbd;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 10px 12px;
}

.label {
    -fx-font-size: 12px;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #232323;
    -fx-opacity: 0.9;
}

#title {
    -fx-font-family: "Arial Black", "Helvetica Neue", sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-padding: 10px 0 4px 0;
    -fx-text-fill: #5a5a5a;
}

.command {
    -fx-font-family: Consolas, Menlo, monospace;
    -fx-background-color: #f2f2f2;
    -fx-padding: 2px 3px 2px 3px;
}

#helpMessage {
    -fx-text-fill: #2d2d2d;
    -fx-font-size: 12px;
}

#hyperlink {
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-text-fill: #f25a00;
    -fx-underline: true;
}

#commandList {
    -fx-background-color: #f2f2f2;
    -fx-border-color: #d8d8d8;
    -fx-border-width: 0;
}

.grid-pane {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}
